version: 2.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/project/keycloak/sms-provider
    steps:
      - checkout:
           path: ~/project/
      - restore_cache:
          key: lms-dependency-cache-{{ checksum "pom.xml" }}      
          working_directory: ~/project/keycloak/sms-provider
      - run: 
          command: mvn clean install
          working_directory: ~/project/keycloak/sms-provider
      - save_cache:
          key: lms-dependency-cache-{{ checksum "pom.xml" }}
          paths: ~/.m2
      - run:
          name: Analyze on SonarCloud
          command: mvn verify sonar:sonar -Dsonar.projectKey=project-sunbird_sunbird-auth -Dsonar.organization=project-sunbird -Dsonar.host.url=https://sonarcloud.io

workflows:
  version: 2.1
  workflow:
    jobs:
      - build
